/*This effects the the size in every class of the website. Initialize
to percentage values and use REM everywhere else.
*/
:root {
  --pad: 0px;
  --activePage: grey;
  font-size: 62.5%;
  background: var(--activePage);
}*   /* Sidebar scaling variable is --pad , used in navbar,js */

  /*content: controls everything:*/
  .content {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: JasmineUPC;
    font-size: 2rem;
    color: white;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: 1px;
  }

  /*banner: controls the header (appears at the very top) of the page.*/
  .banner{
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  /*Larger than normal text but smaller than the banner/title*/
  .subtitle{
    line-height: 0px;
    font-size: 6rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  
/*An rcos project- text on the bottom*/
  .footer{
    font-size: 3rem;
    margin-top: 16px;
    margin-bottom: 0px;
  }

  /*the icons at the bottom of the info page*/
  .infoImg{
    background: #2f2f2f;
    display: flex;
    width:100rem;
    justify-content: center;
    align-items: center;
    font-family: JasmineUPC;
  }

  .infoBody{
      padding-top: 15px;
      color: white;
      text-align: center;
      padding-left: 40px;
      padding-right: 40px;
      font-family: JasmineUPC;
      padding-bottom: 5px;
      font-size: 2rem;
  }

  
  .infoContainer {
    border-radius: 25px;
    background: #2f2f2f;
    display: flex;
    background-position:center;
    flex-direction: column;
    width: 1000px;
    height: 780px;
    justify-content: center;
    align-items: center;
    font-family: JasmineUPC;
    margin-top: 5rem;
    margin-bottom: 2rem;
  }

  

/*LoginPage*/
  .login {
    padding-top: 20px;
  }

  .container {
    border-radius: 25px;
    background: #2f2f2f;
    background-position:center;
    width:420px;
    height:620px;
    padding-top: 55px;
  }

  .RCOS {
    color: white;
    font-weight: bold;
    font-size: 2.3rem;
  }

  .Test {
    color: #e63f3f;
    font-weight: bold;
    font-size: 2.3rem;
  }

  .Spotify {
    color: Black;
    font-family: JasmineUPC;
    padding-top: 10px;
    font-weight: bolder;
  }

  .Version {
    padding-top: 70px;
    color: white;
    font-weight: bold;
    font-size: 2.3rem;
    padding-bottom: 30px;
  }

  .What {
    padding-top: 45px;
    color: #79a3f8;
    font-size: 2.3rem;
    font-weight: bold;
  }

  .Agree {
    padding-top: 15px;
    color: white;
    font-size: .75rem;
    text-align: center;
    padding-left: 25px;
    padding-right: 25px;
    font-family: JasmineUPC;
    padding-bottom: 5px;
    font-size: 1.2rem;
  }

  .btn{
    background: #79a3f8;
    letter-spacing: 1px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    font-weight: bold;
    font-size: 2.3rem;
    font-family: JasmineUPC;
    color: white;
    border: none;
  }
  
  .login .btn {
    
    width: 420px;
    height: 60px;
  }

  .infoContainer .btn {
    width: 1000px;
    height: 120px;
  }

  .Checkbox {
    font-size: 2rem;
    padding-bottom: 10px;
    color: white;
  }

  .main {
    width: 90%;
    margin: 2rem auto;
  }

  .main-heading {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
/*///////////////////////////////////////////////////*/
/*NavBar*/
.navbar {
  background-color: linear-gradient(90deg, rgb(151, 125, 125) 0%, rgb(52, 90, 160) 100%);
  height: 80px;
  display: flex;
  align-items: center;
}

.menu-bars {
  margin-left: 0px;
  font-size: 4rem;
  background: none;
}

.nav-menu {
  background-color:rgb(66, 46, 90);
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
  font-size: 4rem;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.nav-text {
  display: flex;
  align-items: center;
  padding: 8px 0px 8px 0px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 2.5rem;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 0px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #1a83ff;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color:rgb(84, 67, 105);
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

span {
  margin-left: 16px;
}
/*////////////////////////////////////////////////////////////////////////*/
/*Artists Page*/
  
.artistlist{
  width: 90vw;
  max-width: 1170px;
  margin: 4rem auto;
  display: grid;
  gap: .5rem;
  grid-template-columns: repeat(5, 2fr);
  padding-right: 0rem;
}

.artist{
  padding-right: 0rem;
}

  /*/////////////////////////////////////////////////////////////////////////////////////*/
  /*AboutUs Page*/

  .img{
    font-size: 4rem;
    margin-left: 57rem; 
    margin-top: 2rem;
  }

/*/////////////////////////////////////////////////////////////////////////////////////*/
  /*Info Page*/
  @media(orientation: portrait){
    @media (min-width: 421px){
      .infoContainer{
        height: 1020px;
        width: 500px;
      }
      .infoImg{
        width: 200px;
      }
      .banner{
        padding-top: 1rem;
      }
      .infoBody{
        margin-left: 0px;
        margin-right: 1rem;
      }
      .infoContainer .btn{
        width: 500px
      }

    }
    
    @media (max-width: 420px){
      .infoContainer{
        height: 1150px;
        margin-bottom: 0px;
      }
      
      .banner{
        padding-top: 1rem;
      }

      .infoBody{
        margin-left: 30rem;
        margin-right: 30rem;
      }
    }
  }

  @media(orientation: landscape){
    @media (max-width: 420px){

    }   
  }
