/*This effects the the size in every class of the website. Initialize
to percentage values and use REM everywhere else.
*/
:root {
  --pad: 0px;
  --activePage: grey;
  font-size: 62.5%;
  /*background: url(pattern.png) /*var(--activePage);*/
}*   /* Sidebar scaling variable is --pad , used in navbar,js */

  /*content: controls everything:*/
  .content {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: JasmineUPC;
    font-size: 2rem;
    color: white;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: 1px;
  }


  /*banner: controls the header (appears at the very top) of the page.*/
  .banner{
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .banner img{
    width: 400px;
  }

  /*Larger than normal text but smaller than the banner/title*/
  .subtitle{
    line-height: 0px;
    font-size: 6rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  
/*An rcos project- text on the bottom*/
  .footer{
    font-size: 3rem;
    margin-top: 16px;
    margin-bottom: 0px;
  }

  /*the icons at the bottom of the info page*/
  .infoImg{
    background: #2f2f2f;
    display: flex;
    width:100rem;
    justify-content: center;
    align-items: center;
    font-family: JasmineUPC;
  }

  .infoBody{
      padding-top: 15px;
      color: white;
      text-align: center;
      padding-left: 40px;
      padding-right: 40px;
      font-family: JasmineUPC;
      padding-bottom: 5px;
      font-size: 2rem;
  }

  
  .infoContainer {
    border-radius: 25px;
    background: #2f2f2f;
    display: flex;
    background-position:center;
    flex-direction: column;
    width: 1000px;
    height: 780px;
    justify-content: center;
    align-items: center;
    font-family: JasmineUPC;
    margin-top: 5rem;
    margin-bottom: 2rem;
  }

  /*Generic button - sizing to be reused on later screen*/

  .btn{
    background: #79a3f8;
    letter-spacing: 1px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    font-weight: bold;
    font-size: 2.3rem;
    font-family: JasmineUPC;
    color: white;
    border: none;
  }

  .infoContainer .btn {
    width: 1000px;
    height: 120px;
  }

  .main {
    width: 90%;
    margin: 2rem auto;
  }

  .main-heading {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
/*///////////////////////////////////////////////////*/
/*NavBar*/
.navbar {
  background-color: linear-gradient(90deg, rgb(151, 125, 125) 0%, rgb(52, 90, 160) 100%);
  height: 80px;
  display: flex;
  align-items: center;
}

.menu-bars {
  margin-left: 0px;
  font-size: 4rem;
  background: none;
}

.nav-menu {
  background-color:rgb(66, 46, 90);
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
  font-size: 4rem;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.nav-text {
  display: flex;
  align-items: center;
  padding: 8px 0px 8px 0px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 2.5rem;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 0px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #1a83ff;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color:rgb(84, 67, 105);
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

span {
  margin-left: 16px;
}
/*////////////////////////////////////////////////////////////////////////*/
/*Artists Page*/
  
.artistlist{
  width: 90vw;
  max-width: 1170px;
  margin: 4rem auto;
  display: grid;
  gap: .5rem;
  grid-template-columns: repeat(5, 2fr);
  padding-right: 0rem;
}

.artist{
  padding-right: 0rem;
}

  /*/////////////////////////////////////////////////////////////////////////////////////*/
  /*AboutUs Page*/

  .img{
    font-size: 4rem;
    margin-left: 57rem; 
    margin-top: 2rem;
  }


  /*LoginPage*/

  /* Keep the login box off the top of the screen*/
  .login {
    padding-top: 20px;
    height: 100%;
  }

  /*Grey box around login*/
  .container {
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    background: #2f2f2f;
    background-position:center;
    width:420px;
    height:560px;
    padding-top: 7%;
  }

  /*The text around RCOS on the page*/

  .RCOS {
    color: white;
    font-weight: bold;
    font-size: 2.3rem;
  }

  /*The red link for RCOS*/

  .RcosLink {
    color: #e63f3f;
    font-weight: bold;
    font-size: 2.3rem;
  }


  /*Don't have spotify link*/

  .Spotify {
    color: Black;
    font-family: JasmineUPC;
    padding-top: 2%;
    font-weight: bolder;
  }

  /*Version of Tempoture*/

  .Version {
    padding-top: 20%;
    color: white;
    font-weight: bold;
    font-size: 2.3rem;
    padding-bottom: 17%;
  }

  /*Link for what is tempoture*/

  .What {
    padding-top: 20%;
    color: #79a3f8;
    font-size: 2.3rem;
    font-weight: bold;
  }

  /*Agreement statement (terms/conditions)*/

  .Agree {
    padding-top: 2%;
    color: white;
    text-align: center;
    padding-left: 25px;
    padding-right: 25px;
    font-family: JasmineUPC;
    padding-bottom: 5px;
    font-size: 1.2rem;
  }

  .login .btn {
    width: 420px;
    height: 60px;
  }
  /*Accept user agreement*/

  .Checkbox {
    font-size: 2rem;
    color: white;
  }

/*/////////////////////////////////////////////////////////////////////////////////////*/
  /*Info Page*/
  @media(orientation: portrait){
    /*IPAD portrait*/
    @media (min-width: 421px){
      /**************LOGIN****************/
      .content{
        height: 100%;
        width: 100%;
      }
      .login {
        padding-top: 0px;
      }
      .logo img{
        width: 300px;
      }
      .text img{
        width: 450px;
      }
      /*Grey box around login*/
      .container {
        /*vertical-align: center;*/
        height: 100%;
        width: 100%;
        padding-top: 20px;
        margin-top: 0rem;
        margin-bottom: 0rem;
        overflow: hidden;
        border-radius: 0px;
      }

      /*The text around RCOS on the page*/
      .RCOS {
        font-size: 4rem;
      }
      /*The red link for RCOS*/
      .RcosLink {
        font-size: 4rem;
      }
      /*Don't have spotify link*/
      .Spotify {
        font-size: 3rem;
      }
      /*Version of Tempoture*/
      .Version {
        font-size: 4rem;
      }
      /*Link for what is tempoture*/
      .What {
        font-size: 4rem;
      }
      /*Agreement statement (terms/conditions)*/
      .Agree {
        font-size: 2.3rem;
      }
      .Checkbox {
        font-size: 3rem;
      }
      .login .btn {
    
        width: 100%;
        border-radius: 0px;
        font-size: 4rem;
        height: 100px;
      }
      /**********************************/
      .infoContainer{
        height: 100%;
        width: 100%;
        border-radius: 0px;
        vertical-align: center;
        padding-top: 0px;
        margin-top: 0rem;
        margin-bottom: 0rem;
        overflow: hidden;
      }
      .footer{
        font-size: 4rem;
      }
      .infoImage img{
        margin: 0 auto;
        display: block;
      }
      .banner{
        padding-top: 1rem;
      }
      .banner img{
        width: 600px;
      }
      
      .infoBody{
        margin-left: 0px;
        margin-right: 1rem;
        font-size: 4rem;
      }
      .infoContainer .btn{
        border-radius: 0px;
        width: 100%;
        font-size: 4rem;
      }
      .subtitle{
        font-size: 8rem;
        margin-bottom: 0rem;
      }
      
    }

    /*Phone portrait*/
    @media (max-width: 420px){
      /*************login*******************/
      .login {
        padding-top: 0px;
      }
      .login_text{
        margin-left: 15%;
        margin-right: 15%;
      }
      .login .btn {
    
        width: 100%;
        border-radius: 0px;
      }
      .container {
        height: 100%;
        width: 100%;
        overflow: hidden;
        margin-bottom: 0px;
        margin-top: 0px;
        border-radius: 0px;
      }
      /****************************************/
      .infoContainer{
        height: 100%;
        margin-bottom: 0px;
        margin-top: 0px;
      }
      .subtitle{
        font-size: 4rem;
        margin-bottom: 0rem;
      }

      .banner{
        padding-top: 1rem;
        padding-bottom: 0rem;
      }
      .banner img{
        width: 300px;
      }
      .content{
        overflow: hidden;
        width: 100%;
      }
      
      .infoBody{
        margin-left: 30%;
        margin-right: 30%;
        font-size: 1.5rem;
      }
    }
  }

  @media(orientation: landscape){
    /*Phone landscape*/
    @media (max-width: 850px){
      /*************login*******************/
      .login {
        padding-top: 0px;
      }
      .login_text{
        margin-left: 15%;
        margin-right: 15%;
      }
      .login .btn {
    
        width: 100%;
        border-radius: 0px;
      }
      .container {
        height: 100%;
        width: 100%;
        overflow: hidden;
        margin-bottom: 0px;
        margin-top: 0px;
        border-radius: 0px;
      }
      /****************************************/
      .infoContainer{
        height: 100%;
        width: 100%;
        margin-bottom: 0px;
        margin-top: 0px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
      }

      .content{
        overflow: hidden;
      }
    }

    /*IPAD landscape*/
    @media (min-width: 851px){
      .infoImg{
        text-align: center;
        width: 220px;
        margin: 0 auto;
      }
      .infoImg img{
        margin: 0 auto;
        display: block;
      }
      .infoContainer .btn{
        font-size: 3rem;
      }
    }

  }


  /* ------------------------------------------------------------------------- */
  /*                         New CSS For The Updated App                       */
  /* ------------------------------------------------------------------------- */
  @import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC&display=swap');



  .page-wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    overflow: hidden;
  }

  /* -------------------------------------- */
  /*             Header CSS Below           */
  /* -------------------------------------- */

  .header-wrapper {
    height: 55px;
    width: 100%;
    display: flex;
    flex-flow: row;
    background-color: #fdfdfd;
    /*box-shadow: rgb(58, 58, 58) 0px 10px 30px -20px;*/
    -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.5);
    -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.5);
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.5);
    z-index: 99;
    justify-content: space-between;
  }

  
  .header-img-wrapper {
    height: 100%;
    width: 46px;
    /*margin: 0px 10px 0px 10px;*/
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header-img-wrapper img {
    width: 40px;
    height: 35px;
  }

  .header-logo-text {
    height: 100%;
    width: auto;
    font-size: 20px;
    font-weight: bold;
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 0px 0px;
    font-family: 'Montserrat Subrayada', sans-serif;

  }

  .profile-icon-wrapper {
    height: 100%;
    width: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .profile-icon-wrapper img {
    width: 65%;
  }

  /* -------------------------------------- */
  /*              Other CSS Below           */
  /* -------------------------------------- */
  
.logo-contnent-wrapper{
  height: 100%;
  width: auto;
  display: flex;
  flex-flow: row ;
}


  .content-wrapper {
    width: 100%;
    display: flex;
    flex-flow: row;
    flex: 1 0 auto;
    background: #fff;
    position: relative;

    
  }

  .footer-wrapper {
    height: 18px;
    width: 100%;
    display: flex;
    flex-flow: row;
    background-color: #fdfdfd;
    box-shadow: rgb(58, 58, 58) 0px 20px 30px 15px;
    z-index: 99;

    justify-content: center;
    align-items: center;
  }
 
.new-sidebar {
  height: 100%;
  width: 130px;
  /*position: absolute;*/
  background: #333333;
  z-index: 0;
  display: flex;
  flex-flow: column;

  justify-content: space-between;

  /*margin: 10px 0px 10px 0px; /* TOP RIGHT BOTTOM LEFT*/
} 

.new-sidebar-item {
  height: 60px;
  width: 100%;
  color: #fff;
  display: flex;
  align-items: center;
  flex-flow: row;

  border-bottom: 1px solid #797979;
}
.new-sidebar-item:hover { background-color: #4a4a4a; }

.new-sidebar-item > div { 
  pointer-events: none;
}


.new-sidebar-item-selected {
  height: 60px;
  width: 100%;
  color: rgb(110, 110, 110);
  display: flex;
  align-items: center;
  flex-flow: row;

  border-bottom: 1px solid #b2b2b2;
}


.new-sidebar-item-slected {
  height: 55px;
  width: 3px;
  border-radius: 0px 5px 5px 0px;
  background: #00B0FF;
  position: absolute;
}


.new-sidebar-icon {
  font-size: 26px;
  padding: 5px 10px 0px 10px;
}

.new-sidebar-text {
  font-size: 14px;
  /*padding: 0px 10px 0px 10px;*/
}

.new-top-sidebar-items {
  width: 100%;
  height: auto;
}

.new-bottom-sidebar-items {
  width: 100%;
  height: auto;
}


.new-content {
  height: 100%;
  background: #fff;
  z-index: 9;
  position: absolute;
  right: 0;

  transition: 0.45s ease-in-out;
}

.dashboard-content-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
}

.top-content-grid {
    width: 100%;
    height: 50%;
    display: grid;

    grid-template-columns: 2fr 350px;


    /*grid-template-columns: ;*/
    /*align-items: start;
    justify-content: space-between; */
}

.bottom-content-grid {
  width: 100%;
  height: 50%;
  display: grid;

  grid-template-columns: 1fr 1fr 1fr;
}

.content-grid-graph-cell {
  /*border-right: 2px ridge #494949;
  border-bottom: 2px ridge #494949;*/
  display: flex;
  overflow: hidden;
  flex-flow: column;

}
.content-grid-graph {
  width: 90%;
  height: auto;
}

.content-grid-today-content-cell {
  /*border-bottom: 1px solid #494949;*/
}

.dashboard-bottom-cell-first {
  /*border-right: 1px solid #494949;*/
  display: flex;
  height: 100%;
  width: 100%;
  flex-flow: column;
}

.flex-row-wrapper {
  display: flex;
  flex-flow: column;

  width: 100%;
  height: 100%;
}

.listened-to-content {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.listened-to-content-box-right {
  /*width: auto;*/
  width: 170px;
  height: 40px;
  background: #333;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 50px;
  padding-left: 25px;

  font-family: 'Encode Sans SC', sans-serif;
  font-size: 20px;
  color: #fff;
}

.listened-to-content-outer-diamond-right {
  position: absolute;
  height: 50px;
  width: 50px;
  transform: rotate(45deg);

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;

  background: rgb(255, 255, 255);
  top: -5px;
  right: -25px;
}

.listened-to-content-inner-diamond-right {
  position: absolute;
  height: 40px;
  width: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
  
  overflow: hidden;
  background: #333333;
}

.listened-to-content-inner-diamond-right p {
  transform: rotate(-45deg);
  padding-left: 1px;
  font-size: 28px;

}



.listened-to-content-box-left {
  /*width: auto;*/
  width: 170px;
  height: 40px;
  background: #333;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 50px;
  padding-right: 25px;

  font-family: 'Encode Sans SC', sans-serif;
  font-size: 20px;
  color: #fff;
}

.listened-to-content-outer-diamond-left {
  position: absolute;
  height: 50px;
  width: 50px;
  transform: rotate(45deg);


  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;

  background: rgb(255, 255, 255);
  top: -5px;
  left: -25px;
}

.listened-to-content-inner-diamond-left {
  position: absolute;
  height: 40px;
  width: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
  
  overflow: hidden;
  background: #333333;
}

.listened-to-content-inner-diamond-left p {
  transform: rotate(-45deg);
  padding-right: 1px;
  font-size: 28px;

}




.dashboard-bottom-cell-second {
  /*border-right: 1px solid #494949;*/
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.song-of-the-day-content-wrapper {
  height: 90%;
  width: 90%;
  display: flex;
  flex-flow: column;
  align-items: center;
  
}

.song-of-the-day-content-title-box {
  position: absolute;
  height: 60px;
  width: 300px;
  background: #333;
  border: 5px solid #fff; 
  left: -25px;
  bottom: 0;
  color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;

  flex-flow: column;
  font-family: 'Encode Sans SC', sans-serif;

  border-radius: 10px;

}

.song-of-the-day-content-title {
  width: 100%;
  height: 100%;

  font-size: 20px;

  display: flex;
  justify-content: center;
  align-items: center;

}


.song-of-the-day-content-subtitle {
  width: 100%;
  height: 100%;

  font-size: 14px;

  display: flex;
  justify-content: center;
  align-items: center;

}

.song-of-the-day-content-img-wrapper {
  height: 250px;
  width: 250px;
  background: #333333; 
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 4px solid #333;

  position: relative;
}

.overflow-wrap {
  overflow: hidden;  
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.song-of-the-day-content-img-wrapper img{
  height: 100%;
  width: 100%;
}


.dashboard-cell-title {
  height: 30px;
  padding-top: 10px;
  width: 100%;
  color: #333333;
  font-size: 24px;
  padding-left: 10px;
  font-family: 'Encode Sans SC', sans-serif;
  font-weight: bold;
}

.dashboard-cell-content {
  width: 100%;
  flex: 1 0 auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

}

.dashboard-cell-graph {
  width: 90%;
  height: 90%;
}


.weather-circ {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;

  left: 40px;
  top: 15px;
}

.weather-circ-icon {
  display: flex;
  justify-content: center;
  color: #fff;
  padding-top: 10px;
  font-size: 150px;
  height: auto;
}

.temp-circ {
  height: 125px;
  width: 125px;
  border-radius: 50%;
  background: radial-gradient(rgb(240, 144, 144), rgb(178, 54, 83));
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;

  left: 75%;
  top: 55%;
  border: 5px solid #fff;


  flex-flow: row;
}

.temp-circ-num {
  color: #fff;
  font-size: 40px;
  position: relative;
  width: auto;
}

.dashboard-bottom-cell-third {

}